# Задание 1
**Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.**

In [1]:
import pandas as pd

In [13]:
'https://grouplens.org/datasets/movielens/25m/'

ratings = pd.read_csv('ml-25m/ratings.csv')
movies = pd.read_csv('ml-25m/movies.csv')
# чтение файлов
sort = ratings[ratings['rating'] == 5.0]
# фильтрация строк по рейтингу
sort.to_csv("ratings.csv")
# запись в новый файл
joined = sort.merge(movies, on = 'movieId', how = 'left')
# слияние 2-х файлов 
best_rating_of_film = joined[joined['rating'] == 5.0]
best_rating_of_film['title'].value_counts()
# поиск уникального значения в слобце
best_rating_of_film.head(1)
# вывод фильма с самым большим кол-ом оценок

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller

# Задание 2
**По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.**

In [20]:
data = pd.read_csv('power.csv')
data[data['country'].str.contains('ia', case=False)]['country'].unique()
# поиск стран с помощью подстроки
filtred_countries = data[ (data['country'] == 'Lithuania') | (data['country'] =='Latvia') | (data['country'] =='Estonia') & (data['year'].between(2005, 2010)) ]
# фильтрация стран и года
filtred_categories = filtred_countries[ (filtred_countries['category'] == 4) | (filtred_countries['category'] == 12) | (filtred_countries['category'] == 21) ]
# фильтрация нужных категорий
sum_of_data = filtred_categories['quantity'] > 0
# исключение отрицительных значений 
sum_of_data.sum()
# подсчет суммы

817

# Задание 3
**Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.**

In [11]:
url = 'https://fortrader.org/currencyrates'
df = pd.read_html(url, attrs = {'class' : 'items table table-bordered'}, encoding = 'utf-8')[0]
print(df)
print(type(df))

    Код  Количество                 Название       RUB  Изменение
0   USD           1               Доллар США   74.3566     0.3166
1   EUR           1                     Евро   89.9343     0.0868
2   CNY           1           Китайский юань   11.5198     0.0265
3   GBP           1          Фунт стерлингов  104.4487    -0.2216
4   TJS          10        Таджикский сомони   65.1965     0.2776
5   KZT         100      Казахстанский тенге   17.3708    -0.0032
6   TRY          10            Турецкая лира   87.5072    -1.4458
7   PLN           1          Польский злотый   19.7599    -0.0216
8   UAH          10        Украинская гривна   26.9106     0.1192
9   BYN           1        Белорусский рубль   29.2639     0.0083
10  UZS       10000            Узбекский сум   70.4747     0.2457
11  KGS         100           Киргизский сом   87.8022     0.4545
12  AMD         100           Армянский драм   14.2372     0.0560
13  JPY         100            Японская иена   67.8250    -0.2515
14  CHF           1        Швейцарский франк   81.9086     0.0422
15  CZK          10            Чешская крона   35.1360    -0.0240
16  CAD           1         Канадский доллар   61.2341     0.0339
17  AZN           1    Азербайджанский манат   43.7649     0.1863
18  KRW        1000     Вон Республики Корея   65.6834    -0.1492
19  SEK          10           Шведская крона   88.1723    -0.7689
20  INR          10          Индийская рупия   10.1003     0.0147
21  HUF         100        Венгерский форинт   25.1787     0.0923
22  NOK          10         Норвежская крона   88.7819    -0.7411
23  AUD           1     Австралийский доллар   57.3364    -0.4592
24  BGN           1           Болгарский лев   45.9303    -0.0088
25  MDL          10           Молдавский лей   41.9383     0.1078
26  DKK           1            Датская крона   12.0807    -0.0033
27  SGD           1      Сингапурский доллар   55.6978    -0.0510
28  RON           1            Румынский лей   18.2327     0.0007
29  BRL           1         Бразильский реал   14.0179    -0.1587
30  TMT           1  Новый туркменский манат   21.2751     0.0906
31  XDR           1                      СДР  107.1047     0.3361
32  ZAR          10     Южноафриканский рэнд   52.7554    -0.1897
<class 'pandas.core.frame.DataFrame'>